<div id="new-project-form" class="rounded-0 p-0" style="display: none; width: 790px; max-width: 100%;">
    <header class="g-bg-gray-light-v8 g-px-15 g-px-30--sm g-py-20">
      <h2 class="g-font-weight-300 g-font-size-16 g-color-black mb-0">Create New Produce</h2>
    </header>

    <div class="g-pa-15 g-pa-30--sm">
      <form action="{% url 'Farm:add_produce' %}" method="POST">
          <!-- produce english_name -->
        <div class="row g-mb-20">
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0" for="#english_name">English Name</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="form-group g-pos-rel mb-0">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
              </span>
                <input id="english_name" name="english_name" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ user.user.english_name }}" required="required" data-msg="This field is mandatory"
                data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
              </div>
            </div>
          </div>
           <!-- produce native_name -->
           <div class="row g-mb-20">
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0" for="#native_name">Native Name</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="form-group g-pos-rel mb-0">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
              </span>
                <input id="native_name" name="native_name" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ user.user.last_name }}" required="required" data-msg="This field is mandatory"
                data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
              </div>
            </div>
          </div>
            <!-- produce end -->
          <!-- produce scientific_name -->
          <div class="row g-mb-20">
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0" for="#scientific_name">Scientific Name</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="form-group g-pos-rel mb-0">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
              </span>
                <input id="scientific_name" name="scientific_name" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ user.user.scientific_name }}" required="required" data-msg="This field is mandatory"
                data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
              </div>
            </div>
          </div>
            <!-- produce end -->

          <!-- produce shortDescrip -->
          <div class="row g-mb-20">
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0" for="#shortDescrip">Description</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="form-group g-pos-rel mb-0">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
              </span>
              <textarea value="description" class="form-control form-control-md g-resize-none g-line-height-1_6 g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-pa-20" rows="2"></textarea>
    
            </div>
            </div>
          </div>
          <!-- produce end -->
          
          <!-- produce status -->
          <div class="g-mb-35">
            <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-20">Produce Stage</h3>
  
            <div class="g-mb-15">
              <label class="form-check-inline u-check g-pl-35 ml-0 g-mr-10 g-mr-40--sm">
                <input  class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="status" type="radio" checked="">
                <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-20 g-height-20 g-brd-lightblue-v3--checked">
                  <i class="g-absolute-centered d-block g-width-16 g-height-16 g-bg-lightblue-v3--parent-checked"></i>
                </div>
                Plant
              </label>
  
              <label class="form-check-inline u-check g-pl-35 ml-0 g-mr-10 g-mr-40--sm">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="status" type="radio">
                <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-20 g-height-20 g-brd-lightblue-v3--checked">
                  <i class="g-absolute-centered d-block g-width-16 g-height-16 g-bg-lightblue-v3--parent-checked"></i>
                </div>
                Naturing
              </label>
  
              <label class="form-check-inline u-check g-pl-35 ml-0 g-mr-10 g-mr-40--sm">
                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="status" type="radio">
                <div class="u-check-icon-radio-v4 g-absolute-centered--y g-left-0 g-width-20 g-height-20 g-brd-lightblue-v3--checked">
                  <i class="g-absolute-centered d-block g-width-16 g-height-16 g-bg-lightblue-v3--parent-checked"></i>
                </div>
                Harvesting
              </label>
            </div>
          </div>
          <!-- produce end -->
          <!-- produce current_market_avg_price -->
          <div class="row g-mb-20">
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0" for="#current_market_avg_price">Current market avg price</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="form-group g-pos-rel mb-0">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
              </span>
                <input id="current_market_avg_price" name="current_market_avg_price" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ user.user.current_market_avg_price }}" required="required" data-msg="This field is mandatory"
                data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
              </div>
            </div>
          </div>
          <!-- produce end -->

          <!-- produce target_market-->
          <div class="row g-mb-20">
            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">Separate each market with a comma</span>
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0" for="#target_market">Target Market</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="form-group g-pos-rel mb-0">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
              </span>
                <input id="target_market" name="target_market" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ user.user.last_name }}" required="required" data-msg="This field is mandatory"
                data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
              </div>
            </div>
          </div>
          <!-- produce end -->
          <!-- produce number_of_markets -->

          <!-- produce end -->
          <!-- produce category -->
          <div class="row g-mb-20">
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0">Category</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="row g-mx-minus-10">
                <div class="col-md-auto align-self-center g-width-180--md g-px-10">
                  <div class="form-group u-select--v2 g-pos-rel g-brd-gray-light-v7 g-rounded-4 mb-0">
                    <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                    <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                  </span>
                    <select class="js-select u-select--v2-select" name="gender" required="required" style="display: none;">
                      <option value="Consumption" selected="selected">Consumption</option>
                      <option value="Industrial">Industrial</option>
                      <option value="Others">Others</option>
                    </select>
                    <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto g-mr-15"></i>
                  </div>
                </div>

                <div class="col align-self-center g-hidden-md-down g-px-10">
                  <span class="g-font-weight-300 g-color-gray-dark-v6">We use this only for statistics</span>
                </div>
              </div>
            </div>
          </div>
          <!-- produce end -->
          <!-- produce production_output -->
          <div class="row g-mb-20">
            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
              <label class="mb-0" for="#production_output">Expected Production Output</label>
            </div>

            <div class="col-md-9 align-self-center">
              <div class="form-group g-pos-rel mb-0">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
              </span>
                <input id="production_output" name="production_output" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ user.user.production_output }}" required="required" data-msg="This field is mandatory"
                data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
              </div>
            </div>
          </div>
          <!-- produce end -->
          <!-- produce end -->
          <!-- produce image -->
          <!-- produce end -->
          <!-- produce long_name -->
          <!-- produce end -->
        

        <div class="g-mb-35">
          <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-20">Attachments</h3>

          <a class="js-file-upload d-flex align-items-center u-link-v5 g-color-secondary mb-0" href="#" data-element-classes="d-flex align-items-center g-parent g-mb-15" data-icon-classes="hs-admin-file g-font-size-18 g-color-gray-light-v6 g-color-secondary--parent-hover g-mr-15"
          data-text-classes="g-color-gray-dark-v6 g-color-secondary--parent-hover" data-remove-btn-classes="hs-admin-close g-font-size-14 g-color-primary opacity-0 g-opacity-1--parent-hover g-cursor-pointer g-ml-15">
            <i class="hs-admin-plus g-font-size-16 g-mr-15"></i>
            Add New Attachment
          </a>
        </div>

        <div class="d-flex">
          <button class="btn btn-xl u-btn-secondary g-width-160--md g-font-size-14 g-mr-15" type="submit">Create Project</button>
          <button class="btn btn-xl u-btn-outline-gray-dark-v6 g-width-160--md g-font-size-14" type="reset" data-fancybox-close>Cancel</button>
        </div>
      </form>
    </div>
  </div>