{% extends 'farmer/dashboard_base.html' %}


{% block content %}


        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
          <div class="g-pa-20">
            <div class="row">
              <div class="col-md-3 g-mb-30 g-mb-0--md">
                <div class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
                 
                  {% include 'farmer/business profile/profile_sidebar.html'%} 
                </div>

              </div>

              <div class="col-md-9">
                {{message}}
                <div class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md">
                  <form class="js-validate" action="{% url 'Farm:update_profile' %}" method="POST">
                    {% csrf_token %}
                    <header>
                      <h2 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">General information</h2>
                    </header>

                    <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                    <div class="row g-mb-20">
                      <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                        <label class="mb-0" for="#firstName">Farm Name</label>
                      </div>

                      <div class="col-md-9 align-self-center">
                        <div class="form-group g-pos-rel mb-0">
                          <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                          <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                        </span>
                          <input id="firstName" name="first_name" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ farm.name }}" required="required" data-msg="This field is mandatory"
                          data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                        </div>
                      </div>
                    </div>

                    <div class="row g-mb-20">
                      <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                        <label class="mb-0" for="#lastName">processes</label>
                      </div>

                      <div class="col-md-9 align-self-center">
                        <div class="form-group g-pos-rel mb-0">
                          <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                          <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                        </span>
                          <input id="lastName" name="last_name" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{ farm.processes }}" required="required" data-msg="This field is mandatory"
                          data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                        </div>
                      </div>
                    </div>

                   


                    <div class="row g-mb-20">
                      <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                        <label class="mb-0" for="#location">Your Location</label>
                      </div>

                      <div class="col-md-9 align-self-center">
                        <div class="form-group g-pos-rel mb-0">
                          <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                          <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                        </span>
                          <input id="location" name="location" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="text" value="{{farm.location}} ::> {{farm.address}} " required="required" data-msg="This field is mandatory"
                          data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                        </div>
                      </div>
                    </div>

                    <div class="row g-mb-20">
                      <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                        <label class="mb-0" for="#phone">Phone Number</label>
                      </div>

                      <div class="col-md-9 align-self-center">
                        <div class="row g-mx-minus-10">
                          <div class="col-auto align-self-center g-width-270 g-px-10">
                            <div class="form-group g-pos-rel mb-0">
                              <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                              <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                            </span>
                              <input id="phone" name="phone" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="tel" value="{{farm.business_phone}}" required="required" data-msg="This field is mandatory"
                              data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                            </div>
                          </div>

                          <div class="col align-self-center g-hidden-md-down g-px-10">
                            <em class="d-flex align-self-center align-items-center g-font-style-normal g-color-gray-dark-v6">
                            <span class="g-pos-rel g-width-18 g-height-18 g-bg-secondary g-brd-around g-brd-secondary rounded-circle">
                              <i class="hs-admin-check g-absolute-centered g-font-weight-800 g-font-size-8 g-color-white" title="Confirmed"></i>
                            </span>
                            <span class="g-hidden-lg-down g-font-weight-300 g-font-size-default g-color-secondary g-ml-8">Confirmed</span>
                          </em>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row g-mb-20">
                      <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                        <label class="mb-0" for="#secondPhone">Phone Number</label>
                      </div>

                      <div class="col-md-9 align-self-center">
                        <div class="row g-mx-minus-10">
                          <div class="col-auto align-self-center g-width-270 g-px-10">
                            <div class="form-group g-pos-rel mb-0">
                              <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                              <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                            </span>
                              <input id="secondPhone" name="secondPhone" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="tel" required="required" data-msg="This field is mandatory" data-error-class="u-has-error-v3"
                              data-success-class="has-success" aria-required="true">
                            </div>
                          </div>

                          <div class="col align-self-center g-hidden-md-down g-px-10">
                            <em class="d-flex align-self-center align-items-center g-font-style-normal g-color-gray-dark-v6">
                            <span class="g-pos-rel g-width-18 g-height-18 g-brd-around g-brd-gray-light-v7 rounded-circle">
                              <i class="hs-admin-check g-absolute-centered g-font-weight-800 g-font-size-8 g-color-gray-light-v7" title="Confirmed"></i>
                            </span>
                            <span class="g-hidden-lg-down g-font-weight-300 g-font-size-default g-color-gray-dark-v6 g-ml-8">Confirmed</span>
                          </em>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row g-mb-20">
                      <div class="col-md-3 align-self-center"></div>

                      <div class="col-md-9 align-self-center">
                        <a class="btn btn-link d-flex align-self-center align-items-center u-link-v5 g-color-secondary g-color-secondary--hover  g-brd-none p-0" href="#">
                          <i class="hs-admin-plus g-font-size-17"></i>
                          <span class="g-font-weight-300 g-ml-10">Add Phone Number</span>
                        </a>
                      </div>
                    </div>
                    <div class="row g-mb-20">
                      <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                        <label class="mb-0" for="#number_employees">Number Employees</label>
                      </div>

                      <div class="col-md-9 align-self-center">
                        <div class="row g-mx-minus-10">
                          <div class="col-auto align-self-center g-width-270 g-px-10">
                            <div class="form-group g-pos-rel mb-0">
                              <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                              <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                            </span>
                              <input id="number_employees" name="number_employees" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="number" value="{{farm.number_employees}}" required="required" data-msg="This field is mandatory" data-error-class="u-has-error-v3"
                              data-success-class="has-success" aria-required="true">
                            </div>
                          </div>

                          <div class="col align-self-center g-hidden-md-down g-px-10">
                            <em class="d-flex align-self-center align-items-center g-font-style-normal g-color-gray-dark-v6">
                            <span class="g-pos-rel g-width-18 g-height-18 g-brd-around g-brd-gray-light-v7 rounded-circle">
                              <i class="hs-admin-check g-absolute-centered g-font-weight-800 g-font-size-8 g-color-gray-light-v7" title="Confirmed"></i>
                            </span>
                            <span class="g-hidden-lg-down g-font-weight-300 g-font-size-default g-color-gray-dark-v6 g-ml-8">Confirmed</span>
                          </em>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row g-mb-60">
                      <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                        <label class="mb-0">Default Currency</label>
                      </div>

                      <div class="col-md-9 align-self-center">
                        <div class="row g-mx-minus-10">
                          <div class="col-auto align-self-center g-width-270 g-px-10">
                            <div class="btn-group justified-content">
                              <label class="u-check">
                                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="currency" type="radio" checked="checked">
                                <span class="btn btn-md btn-block u-btn-outline-lightgray g-bg-secondary--checked g-font-size-16 g-color-white--checked g-rounded-0--top-right g-rounded-0--bottom-right g-py-10">$</span>
                              </label>
                              <label class="u-check">
                                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="currency" type="radio">
                                <span class="btn btn-md btn-block u-btn-outline-lightgray g-bg-lightblue-v3--checked g-font-size-16 g-color-white--checked g-brd-left-none--md rounded-0 g-py-10">€</span>
                              </label>
                              <label class="u-check">
                                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="currency" type="radio">
                                <span class="btn btn-md btn-block u-btn-outline-lightgray g-bg-lightblue-v3--checked g-font-size-16 g-color-white--checked g-brd-left-none--md rounded-0 g-py-10">£</span>
                              </label>
                              <label class="u-check">
                                <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" name="currency" type="radio">
                                <span class="btn btn-md btn-block u-btn-outline-lightgray g-bg-lightblue-v3--checked g-font-size-16 g-color-white--checked g-brd-left-none--md g-rounded-0--top-left g-rounded-0--bottom-left g-py-10">¥</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                    <div>
                      <button class="btn btn-md btn-xl--md u-btn-secondary g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10" type="submit">Save Changes</button>
                      <button class="btn btn-md btn-xl--md u-btn-outline-gray-dark-v6 g-font-size-12 g-font-size-default--md g-mr-10 g-mb-10" type="reset">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
