
                    <header>
                        <h2 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">Change password</h2>
                      </header>
  
                      <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">
  
                      <div class="row g-mb-20">
                        <div class="col-md-3">
                          <label class="mb-0" for="#currentPassword">Current Password</label>
                        </div>
  
                        <div class="col-md-9 align-self-center">
                          <div>
                            <div class="form-group g-pos-rel mb-0">
                              <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                              <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                            </span>
                              <input id="currentPassword" name="currentPassword" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="password" required="required" data-msg="This field is mandatory"
                              data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="false">
                            </div>
  
                            <a class="form-text g-color-secondary" href="#">
                              <small class="g-font-size-default g-mt-8">Forgot Your Password?</small>
                            </a>
                          </div>
                        </div>
                      </div>
  
                      <div class="row g-mb-20">
                        <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                          <label class="mb-0" for="#newPassword">New Password</label>
                        </div>
  
                        <div class="col-md-9 align-self-center">
                          <div class="form-group g-pos-rel mb-0">
                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                            <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                          </span>
                            <input id="newPassword" name="newPassword" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="password" required="required" data-msg="This field is mandatory"
                            data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="false">
                          </div>
                        </div>
                      </div>
  
                      <div class="row g-mb-20">
                        <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                          <label class="mb-0" for="#confirmNewPassword">Confirm Password</label>
                        </div>
  
                        <div class="col-md-9 align-self-center">
                          <div class="form-group g-pos-rel mb-0">
                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                            <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                          </span>
                            <input id="confirmNewPassword" name="confirmNewPassword" class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12" type="password" required="required" data-msg="This field is mandatory"
                            data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="false">
                          </div>
                        </div>
                      </div>
  